

.th_header_small {
    padding: 0!important;
    font-size: 0.7em!important;
    text-align: center!important;
    background-color: rgba(211, 211, 211, 0.486)!important;
    border-bottom: 1px solid #3f51b5!important;
}

.td_detail {
    padding: 2px 2px 2px 2px !important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    font-weight: bold;
    text-align: left!important;
    color: #000000!important;
    background-color:rgba(211, 211, 211, 0.109)
}



