
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border-left: 2px solid #6d6d6d6e;
    border-top: 2px solid #6d6d6d6e;
    font-weight: 500;
    font-size: 0.8em!important;
    color: black;
}


.edit-cursor {
    cursor: pointer;
}

.th_header {
    padding: 0!important;
    font-size: 0.7em!important;
    text-align: center!important;
    background-color: rgba(131, 131, 131, 0.801)!important;
    border: 1px solid #565a6d!important;
}

.th_header_small {
    padding: 2px;
    font-size: 1em!important;
    text-align: center!important;
    background-color: rgba(211, 211, 211, 0.486)!important;
    border-bottom: 1px solid #000000!important;
    border: 1px solid #565a6d!important;
}


.td_detail {
    padding: 2px 2px 2px 2px !important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    font-weight: bold;
    text-align: center!important;
    background-color: rgba(211, 211, 211, 0.109);
    cursor: pointer;
}
.left-aligin-text {
    text-align: left!important;
}