<div style="text-align: center; font-size: 1.2em; font-weight: bold;">Отстатки товара</div>
<p-table [value]="headerDatatSourceTable" styleClass="p-datatable-gridlines">
  <ng-template pTemplate="header">
      <tr>
          <th class="th_header_small">Товар</th>
          <th class="th_header_small">Описание</th>
          <th class="th_header_small">Упаковка</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
        <td class="td_detail">{{item.sku}}</td>
        <td class="td_detail">{{item.descr}}</td>
        <td class="td_detail">{{item.packKey}} </td>
    </tr>
  </ng-template>
</p-table>
<p-table  class="p-datatable-sm" 
          [value]="getDetailDataSource()" 
          [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
          currentPageReportTemplate="Показанно с {first} по {last} из {totalRecords} записей" 
          [rowsPerPageOptions]="[5,10,25,50,100]"
          [loading]="loading" 
          >
  <ng-template pTemplate="header">
      <tr>
        <th class="th_header">Код зоны</th>
        <th class="th_header">Зона	</th>
        <th class="th_header">Ячейка</th>
        <th class="th_header">Тип ячейки</th>
        <th class="th_header">Статус ячейки</th>
        <th class="th_header">Количество в ячейке</th>
        <th class="th_header">Зарезервировано</th>
        <th class="th_header">Отобрано</th>
        <th class="th_header">Свободный остаток</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
      <tr>
          <td class="td_detail">{{item.putawayzone}}</td>
          <td class="td_detail">{{item.descr_ZONE}} </td>
          <td class="td_detail">{{item.loc}} </td>
          <td class="td_detail">{{item.descr_LOC}} </td>
          <td class="td_detail">{{item.status}} </td>
          <td class="td_detail">{{item.qty}} </td>
          <td class="td_detail">{{item.qtyallocated}} </td>
          <td class="td_detail">{{item.qtypicked}} </td>
          <td class="td_detail">{{item.qty_BALANCE}} </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer" >
    <tr>
        <td></td>
    </tr>
</ng-template> -->
</p-table>-->