table {
    width: 100%;
    border-collapse: collapse;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border-left: 2px solid #6d6d6d6e;
    border-top: 2px solid #6d6d6d6e;
    font-weight: 400;
    font-size: 1em!important;
    color: black;
}


.th_header {
    padding: 0!important;
    font-size: 1em!important;
    text-align: center!important;
    background-color: rgba(211, 211, 211, 0.801)!important;
    border: 1px solid #565a6d!important;
}

.th_header_small {
    padding: 0!important;
    font-size: 1em!important;
    text-align: center!important;
    background-color: rgba(211, 211, 211, 0.486)!important;
    border-bottom: 1px solid #3f51b5!important;
    border: 1px solid #565a6d!important;
}


.td_detail {
    padding: 2px 2px 2px 2px !important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    font-weight: bold;
    text-align: center!important;
    color: #6c757d!important;
    background-color: rgba(211, 211, 211, 0.109)
}


.td_footer{
    text-align: center!important;
}

.td_footer_left {
    text-align: right!important;
}