.container {
    display: grid;
    grid-template-columns: 24px 48px 30px 40px 24px 48px;
    grid-row: auto;
    align-items: stretch;
}

.container > img {
    width: 34px;
}


.container-item {
    font-size: 1.0em;
    
    margin-left: 10px;
    margin-right: 10px;
}