<mat-form-field>
    <mat-label>Направление</mat-label>
    <mat-select [formControl]="destinationConrol" multiple>
      <mat-select-trigger>
        {{destinationConrol.value ? destinationConrol.value[0] : ''}}
        <span *ngIf="destinationConrol.value?.length > 1" class="example-additional-selection">
          (+{{destinationConrol.value.length - 1}} {{destinationConrol.value?.length === 2 ? 'другой' : 'других'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let destination of destinations" [value]="destination">{{destination}}</mat-option>
    </mat-select>
  </mat-form-field>