<p-confirmDialog icon="pi pi-exclamation-triangle" ></p-confirmDialog>
<div class="page_title">Список заказов на отгрузку в рейсе {{loadUsr2 }}</div>
<mat-toolbar color="secondary">
    <span class="cube_in_lane_text_style">{{nsqlDescription}}</span>
    <p-badge [value]="nsqlValue" severity="success"></p-badge>
    <div class="spacer"></div>
    <mat-checkbox class="showdates_checkbox" [(ngModel)]="showDates" color="primary" >Показывать даты</mat-checkbox>
</mat-toolbar>

<p-contextMenu #tableMenu [model]="menuItems"></p-contextMenu>

<p-table  class="p-datatable-sm" 
          [value]="orderDataSource" 
          [paginator]="true" 
          [rows]="10" 
          [showCurrentPageReport]="true" 
          [loading]="loading" 
          currentPageReportTemplate="Показанно с {first} по {last} из {totalRecords} записей" [rowsPerPageOptions]="[5,10,25,50,100]"
          [(contextMenuSelection)]="selectedOrderLine" [contextMenu]="tableMenu"
          sortField="route" sortMode="single" (onSort)="onSort()"
          dataKey="route"   
          [expandedRowKeys]="expandedRowKeys"
          (onContextMenuSelect)="onRowSelect($event)"
          (onEditInit)="onEditInit($event)" 
          (onEditComplete)="onEditComplete($event)">
    <ng-template pTemplate="caption">
    <div class="p-d-flex">
        <button *ngIf="modifiedRows.length > 0" pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-outlined"  (click)="save()"></button>
        &nbsp;
        <button *ngIf="modifiedRows.length > 0" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" (click)="cancel()"></button>
    </div>
    </ng-template>
  <ng-template pTemplate="header">
      <tr>
        <th class="th_header">Ост.</th>
        <th class="th_header">Клиент</th>
        <th class="th_header">Заказ</th>
        <th class="th_header">1C Торг</th>
        <th class="th_header">Заказов</th>
        <th class="th_header">Док-к<br>ВСЕГО</th>
        <th class="th_header">Док-к осталось собрать</th>
        <th class="th_header">Док-к<br>оста&shy;лось конт&shy;роль</th>
        <th class="th_header">Собрано<br>%</th>
        <th class="th_header">Конт&shy;роль<br>%</th>
        <th class="th_header">Упаковано<br>%</th>
        <th class="th_header">Загру&shy;жено<br>%</th>
        <th class="th_header">Проблемы</th>
        <th class="th_header">Расчетное</th>
        <th class="th_header">Линии</th>
        <th class="th_header">ДОК</th>
        <th class="th_header">Объем,<br>куб.м.</th>
        <th class="th_header">Вес,<br>тонн</th>
        <th class="th_header">Кол&shy;во отгру&shy;же&shy;нных<br>мест</th>
        <th class="th_header">Статус</th>
        <th class="th_header">Кла&shy;до&shy;вщик<br>экс&shy;пе&shy;ди&shy;ции</th> 
        <th class="th_header" *ngIf="showDates">Создание рейса</th>
        <th class="th_header" *ngIf="showDates">Го&shy;тов&shy;ность рейса</th>
        <th class="th_header" *ngIf="showDates">При&shy;бытие ТС</th>
        <th class="th_header" *ngIf="showDates">Начало<br>погрузки</th>
        <th class="th_header" *ngIf="showDates">Окончание<br>загрузки</th>
        <th class="th_header" *ngIf="showDates">Про&shy;должи&shy;тель&shy;ность</th>
        <th class="th_header" *ngIf="showDates">Отг&shy;ру&shy;зка</th>
        <th class="th_header" *ngIf="showDates">Убытие<Br>ТС</th>
      
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-orders let-rowIndex="rowIndex" let-expanded="expanded"  let-columns="columns">
    <tr *ngIf="rowGroupMetadata[orders.route].index === rowIndex">
        <th class="th_header_2 edit-cursor" pEditableColumn [pEditableColumn]="orders" [pEditableColumnField]="'stop'" [pEditableColumnRowIndex]="rowIndex">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-dropdown optionLabel="name" optionValue="code" [options]="stopDataSource" [(ngModel)]="orders.stop" [style]="{'width':'100%'}"></p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                    {{orders.stop}}
                </ng-template>
            </p-cellEditor>

        </th>

        <th colspan="3" class="th_header_2_left"    >
            <button type="button" pButton pRipple [pRowToggler]="orders" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            <span class="p-text-bold p-ml-2">{{orders.route}}</span>
        </th>
        
        <th class="th_header_2" >{{orders.ordersCount}}</th>
        <th class="th_header_2" >{{orders.totalOrderLines}}</th>
        <th class="th_header_2" >{{orders.totalLeftToPickQty}}</th>
        <th class="th_header_2" >{{orders.totalLeftToControlQty}}</th>
        <th class="th_header_2" >{{round(orders.totalPicked)}}</th>
        <th class="th_header_2" >{{round(orders.totalControlled)}}</th>
        <th class="th_header_2" >{{round(orders.totalPacked)}}</th>
        <th class="th_header_2" >{{round(orders.totalLoaded)}}</th>
        <th class="th_header_2" ></th>
        <th class="th_header_2" >{{round(orders.totalCalcQtyLane) }}</th>
    
        <th class="th_header_2 edit-cursor"  pEditableColumn [pEditableColumn]="orders" [pEditableColumnField]="'packingLocation'" [pEditableColumnRowIndex]="rowIndex">
            <p-cellEditor *ngIf="orders.packingLocation != 'Разное'">
              <ng-template pTemplate="input">
                  <p-dropdown optionLabel="name" optionValue="code" [options]="packingLocationDataSource" [(ngModel)]="orders.packingLocation" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                  {{orders.packingLocation}}
              </ng-template>
          </p-cellEditor>
         
        </th>
        <th class="th_header_2 edit-cursor"  pEditableColumn [pEditableColumn]="orders" [pEditableColumnField]="'door'" [pEditableColumnRowIndex]="rowIndex">
            <p-cellEditor *ngIf="orders.packingLocation != 'Разное'">
              <ng-template pTemplate="input">
                  <p-dropdown optionLabel="name" optionValue="code" [options]="doorDataSource" [(ngModel)]="orders.door" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                  {{orders.door}}
              </ng-template>
          </p-cellEditor>
         
        </th>
        <th class="th_header_2" >{{round(orders.totalStdCube)}}</th>
        <th class="th_header_2" >{{round(orders.totalStdGrossWgt)}}</th>
        <th class="th_header_2" >{{orders.totalSelectedCartonIdQty}}</th>
        <th class="th_header_2" *ngIf="showDates"></th>
        <th class="th_header_2" *ngIf="showDates"></th>
        <th class="th_header_2" *ngIf="showDates" ></th>
        <th class="th_header_2" *ngIf="showDates"></th>
        <th class="th_header_2 edit-cursor" *ngIf="showDates" pEditableColumn [pEditableColumn]="orders" [pEditableColumnField]="'actualArrivalDate'" [pEditableColumnRowIndex]="rowIndex">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-calendar [(ngModel)]="orders.actualArrivalDate" [readonlyInput]="true" dateFormat="dd.MM.y" showTime="true" hourFormat="24"></p-calendar>
                </ng-template>
                <ng-template pTemplate="output">
                    {{ orders.actualArrivalDate | date:'dd.MM.yy' }}
                </ng-template>
            </p-cellEditor>
        </th>
        <th class="th_header_2" *ngIf="showDates" ></th>
        <th class="th_header_2" *ngIf="showDates"></th>
        <th class="th_header_2" *ngIf="showDates"></th>
        <th class="th_header_2" *ngIf="showDates" ></th>
        <th class="th_header_2" *ngIf="!showDates" ></th>
        <th class="th_header_2" *ngIf="!showDates" ></th>
        <th class="th_header_2 edit-cursor" *ngIf="showDates" pEditableColumn [pEditableColumn]="orders" [pEditableColumnField]="'vehicleLeftDate'" [pEditableColumnRowIndex]="rowIndex">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-calendar [(ngModel)]="orders.vehicleLeftDate" [readonlyInput]="true" dateFormat="dd.MM.y" showTime="true" hourFormat="24"></p-calendar>
                </ng-template>
                <ng-template pTemplate="output">
                    {{ orders.vehicleLeftDate | date:'dd.MM.yy' }}
                </ng-template>
            </p-cellEditor>
       </th>


    </tr>
</ng-template>
    <ng-template pTemplate="rowexpansion" let-orderLine let-rowIndex="rowIndex">
        <tr *ngFor="let detail of getDetail(orderLine) index as i" [pContextMenuRow]="detail" >
            <td class="td_detail">
                
            </td>
            <td class="td_detail">
                
            </td>
            <td class="td_detail padding_right">{{detail.orderKey}}</td>
            <td class="td_detail">
                <a  [routerLink]="[NAVIGATION.ORDER_DETAIL.url]" 
                    [queryParams]="{ orderKey: detail.orderKey, externalOrderKey2: detail.externalOrderKey2}"> 
                    {{detail.externalOrderKey2}}
                </a>
            </td>
            <td class="td_detail"></td>
            
            <td class="td_detail">{{detail.orderLines}}</td>
            <td class="td_detail">{{detail.leftToPick}}</td>
            <td class="td_detail">{{detail.leftToControl}}</td>
            <td class="td_detail">{{detail.pickedQty}}</td>
            <td class="td_detail">{{detail.controlledQty}}</td>
            <td class="td_detail">{{ round(detail.packedQty) }}</td>
            <td class="td_detail">{{detail.loadedQty}}</td>
            <td [class]="getRowColor(detail)" >
                <a *ngIf="detail.showReason === 1"class="exclamation-marks" >!!!</a>
                <div *ngIf="detail.showReason != 1"class="p-text-center">Нет</div>
            </td>
            <td class="td_detail">{{round(detail.calcQtyLane) }}</td>
           
            <td class="td_detail edit-cursor"  pEditableColumn [pEditableColumn]="detail" [pEditableColumnField]="'packingLocation'" [pEditableColumnRowIndex]="rowIndex">
                <p-cellEditor *ngIf="detail.packingLocation != 'Разное'">
                  <ng-template pTemplate="input">
                      <p-dropdown optionLabel="name" optionValue="code" [options]="packingLocationDataSource" [(ngModel)]="detail.packingLocation" [style]="{'width':'100%'}"></p-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{detail.packingLocation}}
                  </ng-template>
              </p-cellEditor>
              <div *ngIf="detail.packingLocation == 'Разное'">{{detail.packingLocation}}</div>
            </td>
            <td class="td_detail edit-cursor"  pEditableColumn [pEditableColumn]="detail" [pEditableColumnField]="'door'" [pEditableColumnRowIndex]="rowIndex">
                <p-cellEditor *ngIf="detail.door != 'Разное'">
                  <ng-template pTemplate="input">
                      <p-dropdown optionLabel="name" optionValue="code" [options]="doorDataSource" [(ngModel)]="detail.door" [style]="{'width':'100%'}"></p-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{detail.door}}
                  </ng-template>
              </p-cellEditor>
              <div *ngIf="detail.door == 'Разное'">{{detail.door}}</div>
            </td>
            <td class="td_detail">{{detail.stdCube}}</td>
            <td class="td_detail">{{detail.stdGrossWgt}}</td>
            <td class="td_detail">{{detail.selectedCartonIdQty}}</td>
            <td class="td_detail">{{detail.status}}</td>
            <td class="td_detail">{{detail.susr2}}</td>
            <td class="td_detail" *ngIf="showDates">{{detail.addDate | date:'dd.MM.yy'  }}</td>
            <td class="td_detail" *ngIf="showDates">{{detail.routeReady | date:'dd.MM.yy'  }}</td>
            <!-- <td class="td_detail" *ngIf="showDates">{{transformDate(detail.actualArrivalDate) }}</td> -->
            <td class="td_detail edit-cursor" *ngIf="showDates" pEditableColumn [pEditableColumn]="detail" [pEditableColumnField]="'actualArrivalDate'" [pEditableColumnRowIndex]="rowIndex">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar [(ngModel)]="detail.actualArrivalDate" [readonlyInput]="true" dateFormat="dd.MM.y" showTime="true" hourFormat="24"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ detail.actualArrivalDate | date:'dd.MM.yy' }}
                    </ng-template>
                </p-cellEditor>
           </td>


            <td class="td_detail" *ngIf="showDates">{{detail.loadStart | date:'dd.MM.yy' }}</td>
            <td class="td_detail" *ngIf="showDates">{{detail.loadEnd | date:'dd.MM.yy' }}</td>
            <td class="td_detail" *ngIf="showDates">{{detail.loadDuration }}</td>
            <td class="td_detail" *ngIf="showDates">{{detail.shipDate | date:'dd.MM.yy' }}</td>
            <!-- <td class="td_detail" *ngIf="showDates">{{transformDate(detail.vehicleLeftDate)}}</td> -->
            <td class="td_detail edit-cursor" *ngIf="showDates" pEditableColumn [pEditableColumn]="detail" [pEditableColumnField]="'vehicleLeftDate'" [pEditableColumnRowIndex]="rowIndex">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-calendar [(ngModel)]="detail.vehicleLeftDate" [readonlyInput]="true" dateFormat="dd.MM.y" showTime="true" hourFormat="24"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ detail.vehicleLeftDate | date:'dd.MM.yy' }}
                    </ng-template>
                </p-cellEditor>
           </td>

        </tr>
    </ng-template>
</p-table>