

:host ::ng-deep .p-datatable {
  font-weight: 500;
  font-size: 0.7em!important;
  text-align: center;
  word-wrap: break-word;
}


:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 2px 5px 2px 7px!important;
}


:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  padding-right: 7px!important;
}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0px;
}


.cube_in_lane_text_style {
    padding-right: 5px;
}

.page_title {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}


.th_header {
  /* padding: 0!important; */
  text-align: center!important;
  background-color: rgba(211, 211, 211, 0.801)!important;
}

.th_header_2 {
  font-weight: 800;
  font-size: 1.1em;
  text-align: center!important;
  background-color: rgba(211, 211, 211, 0.959)!important;
}
.th_header_2_left{
    text-align: left!important;
    background-color: rgba(211, 211, 211, 0.959)!important;
  }
  

.td_detail {
    /* padding: 2px 2px 2px 2px !important; */
    text-align: center!important;
    color: #000000!important;
    background-color: #ffffff; /*rgba(211, 211, 211, 0.109)*/
}

.dirty-row {
  border: 1px solid #a00185;
}

.spacer {
    flex: 1 1 auto;
}
.exclamation-marks{
  color: rgb(104, 0, 0);
  font-weight: bold;
  font-size: 1em;
  text-align: center!important;
}

:host ::ng-deep .p-calendar .p-datepicker {
  min-width: 400px;
}

.edit-cursor {
  cursor: pointer;
}
.selected_row {
  padding-right: 7px!important;
  text-align: center!important;
  color: #000000!important;
  background-color: rgba(211, 211, 211, 0.534);
 
}
:host ::ng-deep .p-highlight-contextmenu {
  text-align: center!important;
  color: #000000!important;
  background-color: rgba(211, 211, 211, 0.534);
  outline-style: groove;
  outline-width: 5px;
  outline-color: #565a6d!important;
}
