.cube_in_lane_text_style {
    padding-right: 5px;
}

.th_header {
    padding: 0!important;
  font-size: 0.7em!important;

  text-align: center!important;
  background-color: rgba(211, 211, 211, 0.801)!important;
}

.th_header_2 {
  padding: 0!important;
  font-size: 0.7em!important;
  text-align: center!important;
  background-color: rgba(211, 211, 211, 0.959)!important;
}
.th_header_2_left{
    padding: 0!important;
    font-size: 0.7em!important;
    font-weight: bold;
    text-align: left!important;
    background-color: rgba(211, 211, 211, 0.959)!important;
  }
  

.td_detail {
    padding: 2px 2px 2px 2px !important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    font-weight: bold;
    text-align: center!important;
    color: #6c757d!important;
    background-color: #E3F2FD; /*rgba(211, 211, 211, 0.109)*/
}

.spacer {
    flex: 1 1 auto;
}
.exclamation-marks{
  color: rgb(104, 0, 0);
  font-weight: bold;
  font-size: 1em;
  text-align: center!important;
}

