


:host ::ng-deep .p-datatable {
  font-weight: 400;
  font-size: 0.6em!important;
  text-align: center;
}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  padding: 0!important;
}

.cube_in_lane_text_style {
    padding-right: 5px;
}

.page_title {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}


.th_header {
  /* padding: 0!important; */
  text-align: center!important;
  background-color: rgba(211, 211, 211, 0.801)!important;
}

.th_header_2 {
  /* padding: 0!important; */
  font-weight: 800;
  font-size: 1.1em;
  text-align: center!important;
  background-color: rgba(211, 211, 211, 0.959)!important;
}
.th_header_2_left{
    /* padding: 0!important; */
    text-align: left!important;
    background-color: rgba(211, 211, 211, 0.959)!important;
  }
  

.td_detail {
    /* padding: 2px 2px 2px 2px !important; */
    text-align: center!important;
    color: #000000!important;
    background-color: #ffffff; /*rgba(211, 211, 211, 0.109)*/
}

.dirty-row {
  border: 1px solid #a00185;
}

.spacer {
    flex: 1 1 auto;
}
.exclamation-marks{
  color: rgb(104, 0, 0);
  font-weight: bold;
  font-size: 1em;
  text-align: center!important;
}

:host ::ng-deep .p-calendar .p-datepicker {
  min-width: 400px;
}

.edit-cursor {
  cursor: pointer;
}
.selected_row {
  
  text-align: left!important;
  color: #000000!important;
  background-color: rgba(146, 146, 146, 0.534)
}

