.spacer {
    flex: 1 1 auto;
  }

:host ::ng-deep .reason_purple{
    background-color: #DDA0DD!important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    color: #000000!important;
    vertical-align: middle;
}



:host ::ng-deep .reason_red{
    background-color: #F08080!important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    text-align: left!important;
    color: #000000!important;
    vertical-align: middle;
}

:host ::ng-deep  .reason_gray{
    background-color: gainsboro!important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    text-align: left!important;
    color: #000000!important;
    vertical-align: middle;
}

:host ::ng-deep .reason_yellow{
    background-color: #98FB98!important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    color: #000000!important;
    vertical-align: middle;
}

:host ::ng-deep  .reason_green{
    background-color: #87CEFA!important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    font-weight: bold;
    text-align: left!important;
    color: #000000!important;
    vertical-align: middle;
}

:host ::ng-deep .reason_white{
    background-color: white!important;
     padding: 0!important;
    word-wrap: break-word;
    font-size : 0.7em!important;
    font-weight: bold;
    text-align: left!important;
    color: #000000!important;
    vertical-align: middle;
}

@media print {
    .buttons-print {
        visibility: hidden;
    }
}