<mat-form-field>
    <mat-label>Статус</mat-label>
    <mat-select [formControl]="statusesFormControl" multiple>
      <mat-select-trigger>
        {{statusesFormControl.value ? getSelectionDescription(statusesFormControl.value[0]) : ''}}
        <span *ngIf="statusesFormControl.value?.length > 1" class="example-additional-selection">
          (+{{statusesFormControl.value.length - 1}} {{statusesFormControl.value?.length === 2 ? 'другой' : 'других'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let status of statuses" [value]="status.code">{{status.description}}</mat-option>
    </mat-select>
  </mat-form-field>