.padding-right {
    padding-left: 10px;
}

.padding-bottom {
    padding-bottom: 20px;
}

.dialog-header  {
    font-size: 0.7em!important;
}

.dialog-header-title {
    font-size: 0.7em!important;
}


